:root {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

body {
    width: 60%;
    min-width: 500px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    color: #030f24;
    --color: #030f24;
}

body.dark {
    background-color: rgb(11, 11, 66);
    color: aliceblue;
    --color: aliceblue;
}

game-content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

game-content > *:not(:last-child):not(:empty) {
    margin-bottom: max(5px, 2vh);
}

game-content > *:not(:first-child):not(:empty) {
    margin-top: max(5px, 2vh);
}

header {
    align-items: baseline;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

info-content,
settings-content {
    flex-direction: column;
    align-items: center;
    margin: 32px;
    gap: 32px;
}

info-content {
    text-align: center;
    gap: 0px;
}

settings-content > * {
    display: flex;
    align-items: center;
    gap: 20px;
}

#copy {
    padding: 10px 20px;
    background-color: slateblue;
    color: aliceblue;
    border-radius: 5px;
    display: none;
}

#guesses {
    display: flex;
    gap: 25px;
    position: relative;
    padding-top: 8px;
}

#guesses:not(:empty)::before {
    content: 'Past Guesses';
    position: absolute;
    top: 0;
    min-width: 100px;
    left: 50%;
    transform: translate(-50%, -100%);
}

#mobile-input {
    display: none;
    position: relative;
    text-align: center;
}

#mobile-input > input {
    width: 75%;
    outline: none;
    border: none;
    background-color: slateblue;
    border-radius: 2px;
    color: aliceblue;
    padding: 4px;
    text-align: center;
    caret-color: transparent;
    font-size: medium;
}

#score {
    font-size: 48px;
}

.btn {
    user-select: none;
    cursor: pointer;
}

.go-btn {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #474266;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 48px;
    font-family: monospace;
    user-select: none;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
}

.go-btn.enabled {
    cursor: pointer;
    background-color: darkslateblue;
}

.go-btn.enabled:active {
    background-color: #2a244f;
    box-shadow: 4px 4px darkslateblue;
}

.letter {
    position: absolute;
    width: 200%;
    left: -100%;
    height: 200%;
    text-align: center;
    padding-top: 20px;
    user-select: none;
    font-size: 32px;
    pointer-events: none;
}

.letter > input {
    display: inline-flex;
    justify-content: center;
    width: 30px;
    font-size: inherit;
    background-color: transparent;
    text-align: center;
    border: none;
    outline: none;
    color: inherit;
    caret-color: transparent;
    user-select: none;
    pointer-events: none;
}

.letter-container.active {
    background-color: rgb(139, 126, 223);
}

.letter-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    border: 1px solid black;
    background-color: slateblue;
}

.letter-container.partial {
    background-color: rgb(0, 139, 141);
}

.letter-container.preset {
    background-color: rgb(23, 50, 88);
}

.letter-container.first {
    background-color: rgb(30, 38, 49);
}

.letter-container.small {
    border: none;
}

.letter-container.small > .letter {
    font-size: 16px;
    padding-top: 4px;
}

.score-container {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    border-radius: 32px;
}

.slider::before {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 4px;
    width: 16px;
    border-radius: 50%;
    content: '';
    background-color: #030f24;
    -webkit-transition: 0.4s cubic-bezier(0.65, 0.05, 0.37, 1);
    transition: 0.4s cubic-bezier(0.65, 0.05, 0.37, 1);
    border-radius: 32px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    height: 0;
    width: 0;
}

.switch input:checked + .slider::before {
    transform: translateX(26px);
}

.word-container {
    width: 400px;
    flex-shrink: 0;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    color: aliceblue;
}

.word-container.small {
    width: 75px;
    height: 75px;
}

@keyframes points-correct {
    25% {
        color: green;
    }
    75% {
        color: green;
    }
    100% {
        color: var(--color);
    }
}

@keyframes points-incorrect {
    25% {
        color: red;
    }
    75% {
        color: red;
    }
    100% {
        color: var(--color);
    }
}

@media screen and (max-width: 500px) {
    body {
        width: 85%;
        min-width: 300px;
    }

    header {
        justify-content: space-between;
    }

    .go-btn {
        width: 150px;
        height: 150px;
    }

    .guess-text {
        font-size: 40px;
    }

    .word-container {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-height: 600px) {
    game-content {
        justify-content: flex-start;
    }
}
